@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 5px 0;
  background-color: rgb(237, 238, 240);
}

.container {
  width: 800px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#block1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 15%;
}

#block2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 233, 227);
}

#block2 img {
  height: 300px;
}

#block2 h2 {
  color: #444;
  font-weight: 100;
  margin: 30px 0;
}

#block2 > div {
  padding: 20px 40px;
  position: relative;
}

#block2 .circles {
  position: static;
  justify-content: end;
}

.slider {
  overflow: hidden;
  position: relative;
}

.slider-line {
  display: flex;
  transition: transform ease 1s;
}

#quote {
  position: absolute;
  top: 20px;
  left: 35px;
  background-color: black;
  letter-spacing: 0.2rem;
  display: inline-block;
  padding: 10px;
}

#menu {
  position: absolute;
  top: 20px;
  right: 35px;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
}

#slider-text {
  position: absolute;
  top: 50%;
  right: 35px;
  font-size: 2.5rem;
  margin-top: -96px;
}

.light-3em {
  font-weight: 100;
  font-size: 3em;
}

.reg-3em {
  font-size: 3em;
}

.white-text {
  color: white;
}

.circle {
  width: 10px;
  height: 10px;
  margin: 2px;
  background-color: #aaa;
  border-radius: 100%;
  opacity: 0.8;
  transition: all ease 0.22s;
}

.circles {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.active {
  width: 13px;
  height: 13px;
  background-color: #000;
}

.line {
  width: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
}

.m-50 {
  margin: 50px 0;
}

@media (max-width: 800px) {
  body {
    margin: 0;
  }

  .container {
    width: 100%;
  }

  #slider-text {
    font-size: 1.2rem;
    margin-top: -46px;
  }

  #block1 {
    padding: 0 20px;
  }

  #block2 {
    flex-direction: column-reverse;
  }

  #block2 img {
    height: auto;
    width: 100%;
  }
}
