@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 5px 0;
  background-color: rgb(237, 238, 240);
}

form {
  margin-top: 1em;
}

input {
  margin-bottom: 1em;
}

a[class="button"] {
  text-decoration: none;
  color: #000;
  letter-spacing: 0.1em;
  font-weight: bold;
  border: 2px solid #000;
  padding: 10px;
  align-self: center;
}

.container {
  position: relative;
  width: 800px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  z-index: 10;
  opacity: 1;
}

.isMobile {
  position: fixed;
  height: 100%;
  overflow: scroll;
}

.no-overflow {
  overflow: hidden;
}

#block1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 15%;
}

#block2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 233, 227);
}

#block2 .slider {
  width: 300px;
}

#block2 h2 {
  color: #444;
  font-weight: 100;
  margin: 30px 0;
}

#block2 .content {
  padding: 0 40px;
  position: relative;
  width: 45%;
}

#block2 .circles {
  position: static;
  justify-content: end;
}

.slider {
  overflow: hidden;
  position: relative;
}

.slider-line {
  display: flex;
  transition: transform ease 1s;
}

#quote {
  position: absolute;
  top: 20px;
  left: 35px;
  background-color: black;
  letter-spacing: 0.2rem;
  display: inline-block;
  padding: 10px;
}

#menu {
  position: absolute;
  z-index: 15;
  top: 20px;
  right: 35px;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
}

.black {
  border-color: #000 !important;
  color: #000 !important;
}

#slider-text {
  position: absolute;
  top: 50%;
  right: 35px;
  font-size: 2.5rem;
  margin-top: -96px;
}

.light-3em {
  font-weight: 100;
  font-size: 3em;
}

.reg-3em {
  font-size: 3em;
}

.bg-gray {
  background-color: rgb(243, 244, 246);
}

.white-text {
  color: white;
}

.circle {
  width: 10px;
  height: 10px;
  margin: 2px;
  background-color: #aaa;
  border-radius: 100%;
  opacity: 0.8;
  transition: all ease 0.22s;
}

.circles {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.active {
  width: 13px;
  height: 13px;
  background-color: #000;
}

.line {
  width: 50px;
  border-bottom: 2px solid black;
  margin: 10px 0;
}

.m-50 {
  margin: 50px 0;
}

.content {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.content h1 {
  margin: 10px 0;
}

.content .grid {
  border: 1px solid #ccc;
  display: grid;
  grid: 1fr 1fr / auto auto;
  gap: 1px;
  background-color: #ccc;
  margin: 10px 0 30px 0;
}

.content .grid > div {
  background-color: white;
  padding: 20px;
}

.content .grid div div {
  font-style: italic;
  margin: 10px 0;
}

.content #posters {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr 2fr 2fr;
  gap: 30px;
  margin: 10px 0 30px 0;
}

.content #posters div {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content #posters .first {
  grid-row: 1/3;
  grid-column: 1/3;
}

.content #posters .second {
  grid-column: 3/5;
}

.content #posters img {
  height: 100%;
  width: 100%;
}

#block4 {
  position: relative;
  color: white;
  padding: 80px 20%;
  background-image: url(./img/pic5.jpg);
  background-size: cover;
  text-align: center;
}

#block4 a {
  color: white;
}

#footer {
  background-color: rgb(237, 238, 240);
  padding: 10px 40px;
}

.menu {
  padding: 60px 50px;
  display: flex;
  justify-content: space-between;
  transition: opacity ease 0.22s;
}

.hidden {
  z-index: 1;
  user-select: none;
  opacity: 0;
}

.folded {
  padding: 0;
  max-height: 0;
}

.menu a[class="button"] {
  padding: 5px;
}

.menu > div {
  max-width: 175px;
}

.menu ul {
  padding: 0;
  list-style-type: none;
}

.menu li {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  body {
    margin: 0;
  }

  .container {
    width: 100%;
  }

  #slider-text {
    font-size: 1.2rem;
    margin-top: -46px;
  }

  #block1 {
    padding: 0 20px;
  }

  #block2 {
    flex-direction: column-reverse;
  }

  #block2 .content {
    width: auto;
  }

  #block2 .slider {
    width: 100%;
  }

  .content .grid {
    grid: repeat(4, auto) / auto;
  }

  #block4 {
    padding: 30px 20%;
  }

  .menu {
    flex-direction: column;
  }
}
